@charset "UTF-8";

:root{
    --cor01: rgb(255, 231, 180);
    --cor02: rgb(255, 216, 131);
    --cor03: rgb(255, 242, 214);
    --cor04: rgb(53, 45, 27);

    --font-padrao: 'sans-serif';
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;;
}
body{
    background-color: var(--cor03);
}

header{
    background-color: var(--cor01);
}
div > h1{
    text-align: center;
    padding: 10px 20px;
    font-size: 70px;
    color: var(--cor04)
}

header > div > p{
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}



header > div > p > a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 15px;
}

header > div > p > a:hover{
    background-color: white;
    color: black;
}

.class_link_footer{
    width: 98%;
    display: inline-block;
    text-align: right;
    padding: 5px;
}

main{
    height: 300vh;
    min-width: 330px;
    max-width: 900px;
    background-color: white;
    margin: auto;
}

img{
    min-width: 300px;
    max-width: 900px;
    margin: auto;
}