@charset "UTF-8";

:root{
    --cor01: rgb(255, 231, 180);
    --cor02: rgb(255, 216, 131);
    --cor03: rgb(255, 242, 214);
    --cor04: rgb(53, 45, 27);

    --font-padrao: 'sans-serif';
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;;
}
body{
    background-color: var(--cor03);
}

header{
    background-color: var(--cor01);
}

header > div > h1{
    padding: 20px;
    font-size: 3em;
    text-align: center;
    color: var(--cor04);
}

#chris_logo{
    margin: auto;
    display: block;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
}

#whatsapp{
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 20px 20px 20px 1px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.219);
}

#instagram{
    position: fixed;
    right: 60px;
    bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089);
    border-radius: 10px;
}

header > div > p{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

header > div > p > a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 15px;
}

header > div > p > a:hover{
    background-color: white;
    color: black;
}

.class_link_footer{
    text-align: left;
    padding: 5px;
}

main{
    width: 100%;
    background-color: white;
    max-width: 900px;
    margin: auto;
}

main > div > p > img{
    display: block;
    width: 100%;
    margin: auto;
}

main > div > p{
    font-size: 20px;
    text-align: justify;
    padding: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.082) 4px 4px 6px;
}